<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002382752780-b6plvkl75v5nahpp6a87egq7gueo5jmk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002382752780-b6plvkl75v5nahpp6a87egq7gueo5jmk</string>
	<key>API_KEY</key>
	<string>AIzaSyCP3XZcINBaTpzv2i6lNW3ZfzCa2mUyxE4</string>
	<key>GCM_SENDER_ID</key>
	<string>1002382752780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.ReactPoland</string>
	<key>PROJECT_ID</key>
	<string>reactpoland</string>
	<key>STORAGE_BUCKET</key>
	<string>reactpoland.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002382752780:ios:0235fc570e3b113ae7c229</string>
</dict>
</plist>